@font-face {
    font-family: h4;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: div;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: li;
    src: url(../fonts/Roboto-Regular.ttf);
}

hr{
    margin-top: 0%;
    margin-bottom:0%;
    border-width: 0.4mm;
    border-style:solid;
}


h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top:5px;
    text-align: center;
}

h4{
    font-family: h4;
    color:#000000;
    font-size: 4mm;
    margin-top: 0px;
    text-align: center;
}

a.header:link{
    color:#000000;
}
a.header:visited{
    color:#000000;
}

h2{
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 2px;
    background-color:#284B63;
    color:#FFFFFF;
    text-indent: 3mm;
}

div{
    font-family: div;
    background-color: #D9D9D9;
}

li{
    font-family: li;
}

